<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BujCafes</title>
</head>
<body>
    <header>
        <div class="nav-bar">
            <ul>
                <li><a href="#" class="nav-item nav-home">Home</a></li>
                <li><a href="#" class="nav-item nav-add">Add +</a></li>
                <li><input class="nav-item nav-search" name="search" type="text"></li>
                <li><button class="nav-item nav-home">Search</button></li>
            </ul>
        </div>
    </header>
</body>
</html>
